img {
  width: 100%;
  margin-bottom: 32px;
}

h1 {
  color: #f5efe8;
  font-size: 120%;
  letter-spacing: 3px;
  font-family: "Playfair Display", serif;
}

body {
  height: 100vh;
  margin: 0;
  background-color: #14248e;
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;

  font-family: "Poppins", sans-serif;
  text-transform: uppercase;

  max-width: 800px;
  width: 90%;

  padding-top: 80px;

  font-size: clamp(16px, 4vw, 32px);
}

p {
  color: #f5efe8;
  font-size: clamp(12px, 50%, 16px);
  letter-spacing: 4px;
  text-align: center;
}

a {
  margin-top: 32px;

  font-size: inherit;
}

svg {
  margin-top: 2px;
  width: clamp(12px, 2vw, 24px);
  height: auto;
  fill: #ff4f1a;
}

.socials {
  width: clamp(40px, 10vw, 60px);
}

.header {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3vw;
  margin-bottom: 12px;
}
